<template>
  <b-navbar id="mya-header" toggleable="lg" variant="white">
    <b-container>
      <b-navbar-brand to="/">
        <b-img src="/images/logo.png" />
      </b-navbar-brand>

      <b-navbar-toggle target="nav-collapse">
        <template>
          <b-img src="/images/hamburger.png" style="display: none;" />
        </template>
      </b-navbar-toggle>

      <nav-header />
    </b-container>
  </b-navbar>
</template>

<script>
import NavHeader from './NavHeader'
export default {
  name: 'CustHeader',
  components: {
    NavHeader
  }
}
</script>

<style lang="scss">
@import "@/assets/scss/_variables.scss";

#mya-header {
  border-bottom: 2px solid $primary;
  padding: 2.5rem 0;

  > .container {
    padding: 0 3rem;
  }

  .navbar-brand {
    max-width: 300px;
    img { width: 100%; }
  }

  @media only screen and (max-width: 992px) {
    border-bottom: none!important;

    > .container {
      // padding: 0;
      align-items: center;
    }

    .navbar-brand {
      max-width: 70%;
    }

    .navbar-toggler {
      border: none;
      margin-top: 1.5rem;
      img {
        // width: 25px;
        display: block!important;
      }
    }

    .nav-item a {
      padding: 1rem 0;
      font-size: 1rem;
    }
    .nav-item {
      border-right: none;
      height: 30px;
      text-align: right;
    }

  }

   @media only screen and (max-width: 440px) {
     .navbar-toggler img {
       width: 10vw;
     }
   }
}

</style>
