<template>
  <b-collapse id="nav-collapse" is-nav class="align-self-end">
    <b-navbar-nav class="ml-auto">
      <template
        v-for="(menu, index) of menus"
      >
        <b-nav-item-dropdown v-if="menu.subitems" :key="'menu-' + index">
          <!-- Using 'button-content' slot -->
          <template v-slot:button-content>
            {{ menu.name }}
          </template>
          <b-dropdown-item
            v-for="(submenu, subindex) in menu.subitems"
            :key="'submenu-' + subindex"
            :to="submenu.link"
          >
            {{ submenu.name }}
          </b-dropdown-item>
        </b-nav-item-dropdown>
        <b-nav-item v-else :key="'menu-' + index" :to="menu.link">
          {{ menu.name }}
        </b-nav-item>
      </template>
    </b-navbar-nav>
  </b-collapse>
</template>

<script>
export default {
  data() {
    return {
      menus: [
        { name: 'ABOUT', link: '/about' },
        {
          name: 'SERVICES',
          link: '/#',
          subitems: [
            { name: 'Custom shopify apps', link: '/#' },
            { name: 'Custom system apps', link: '/#' },
            { name: 'Custom web apps', link: '/#' }
          ]
        },
        { name: 'CASE STUDIES', link: '/#' },
        { name: 'BLOG', link: '/#' },
        { name: 'CONTACT US', link: '/#' }
      ]
    }
  }
}
</script>

<style lang="scss">
@import "@/assets/scss/_variables.scss";

#nav-collapse {
  .nav-item {
    border-right: 2px solid $primary;
    padding: 0 1rem;
    height: 16px;
    &:last-child { border-right: none; }
    a {
      color: $body-color;
      font-weight: 700;
      font-size: 16px;
      padding: 0;
      height: 14px;
      line-height: 1;
      &:hover {
        color: $primary;
      }
      &.dropdown-toggle:after { display: none; }
    }

    .dropdown-menu {
      margin-top: 2rem;
      padding: 0 1rem 1.5rem;
      border-radius: 0.5rem;
      box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.5);
      > li {
        padding: 0.5rem 0;
        a {
          font-size: 14px;
          font-weight: 600;
          color: $secondary;
          line-height: 2;
          height: 14px;
          &:hover {
            color: $primary;
          }
        }
      }
    }
  }

  margin-bottom: 2rem;
}
</style>
