$card-icon-size: 100;
$card-radius: 1.5rem;

.mya-card {
  border-radius: $card-radius;
  padding: 70px 20px 50px;
  text-align: center;
  max-width: 500px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .mya-card__icon {
    background-color: inherit;
    border: 10px solid #fff;
    border-radius: 50%;
    height: $card-icon-size + px;
    width: $card-icon-size + px;
    position: absolute;
    top: -($card-icon-size / 2) + px;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
  }

  @media only screen and (max-width: 600px) {
    padding-left: 1rem;
    padding-right: 1rem;
    p { font-size: 1rem; }
  }

}