body::after {
  position:absolute; width:0; height:0; overflow:hidden; z-index:-1; // hide image
  content:url('/images/home/pov.png') url('/images/cart-icon.png') url('/images/lightbulb-icon.png') url('/images/home/testimonial.png');   // load images
}