.custom-radio {
  --primary: hsl(0, 100%, 68%);
  --other: rgba(0, 0, 0, 0.3);

  // background: hsl(0, 0%, 10%);

  /* label */
  label {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;

    padding: 0.5rem;

    cursor: pointer;
    position: relative;
  }

  /* input */
  input {
    opacity: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    // transform: translate(-50%, -50%);
    z-index: -1;
  }


  /* .design */
  .design {
    width: 16px;
    height: 16px;

    // border: 1px solid var(--other);
    box-shadow: 0 0 0 1.6pt var(--other);
    border-radius: 100%;
    // margin-right: 16px;

    position: relative;
  }

  .design::before,
  .design::after {
    content: "";
    display: block;

    width: inherit;
    height: inherit;

    border-radius: inherit;

    position: absolute;
    transform: scale(0.8);
    transform-origin: center center;
  }

  .design:before {
    background: $dark;
    opacity: .4;
    transition: .3s;
    // margin-left: -0.1rem;
    // margin-top: -0.1rem;
  }

  // .design::after {
  //   background: #000;
  //   opacity: .4;
  //   transition: .6s;
  // }


  /* .text */
  .text {
    color: $dark;
    font-weight: bold;
  }


  /* checked state */
  input:checked+.design {
    box-shadow: 0 0 0 1.6pt $dark;
    // border: 1px solid $dark;
  }
  input:checked+.design::before {
    opacity: 1;
    // transform: scale(.8)!important;
    
  }


  /* other states */
  // input:hover+.design,
  // input:focus+.design {
  //   box-shadow: 0 0 0 1pt $dark;
  //   // border: 1px solid #000;
  // }

  // input:hover+.design:before,
  // input:focus+.design:before {
  //   background: #000;
  // }

  input:hover~.text {
    color: #000;
  }

  // input:focus+.design::after,
  // input:active+.design::after {
  //   opacity: .1;
  //   transform: scale(2.6);
  // }

}