h1, h2, h3, h4, h5, h6 {
  font-family: 'Ubuntu', sans-serif;
  word-spacing: normal;
}

h1,h2,h3 {
  font-weight: 700;
}
h4, h5, h6 {
  font-weight: 500;
}

h1 {
  font-size: 4.2rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 2.5rem;
}
h4 {
  font-size: 1.7rem;
}

.testimonial {
  font-style: italic;
  font-weight: bold;
  text-align: left;
  q:before { padding-right: 0.5rem; }
  q:after { padding-left: 0.5rem; }
  span {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
  }
}

.title-emphasize {
  justify-content: center;
  display: flex;
  flex-direction: column;
  &:after {
    content: '';
    width: 100px;
    height: 2px;
    background-color: #fff;
    display: block;
    margin-top: 10px;
    align-self: center;
  }
  &.dark:after {
    background-color: $dark;
  }
  &.highlight:after {
    background-color: $success;
  }
}

@media only screen and (max-width: 420px) {
  h1, h2 {
    font-size: 10vw;
  }

  h3 {
    font-size: 8vw;
  }

  h4, h5 {
    font-size: 4vw;
  }

  p {
    font-size: 3.2vw; word-spacing: 0px;
  }
}