// sets color here
$primary: #ffd600;
$secondary: #3c494d;
$success: #00a7a5;
$info: #3d719f;
$lighter: #f1f1f1;
$bg-color: #f5f5f5;
$bg-dark: #3c494d;

$body-bg: #fff;
$body-color: #3e4b4d;

// Typography
$font-size-base: 1.2rem; // this changes the font-size throughout bootstrap
// $font-family-sans-serif: "Raleway", sans-serif;
$line-height-base: 1.6;

$enable-rounded: true;