@import "variables";
@import "node_modules/bootstrap/scss/bootstrap";
@import "cards";
@import "typography";
@import "radio";
@import "preload";

// default styles
html {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 12px;
  word-spacing: 1px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}


a:hover {
  text-decoration: none;
}

.btn {
  margin-top: 1.5rem;
  padding: 1rem 1.5rem;
  line-height: 1.3;
  border-radius: 0.75rem;
  font-weight: 700;
}

// handle for smaller screen
@media only screen and (max-width: 420px) {
  .btn { 
    span { font-size: 3.5vw!important; }
    font-size: 3vw!important;
  }
}


// Vue Transitions

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
