<template>
  <Section
    bg="white"
    color="dark"
    design="1"
  >
    <b-row>
      <b-col
        sm="12"
        md="12"
        lg="6"
        class="intro-image"
        order="1"
        order-lg="2"
      >
        <b-img
          v-lazy-load
          src="/images/home/pov-lazy.png"
          data-src="/images/home/pov.png"
          fluid-grow
        />
      </b-col>
      <b-col class="d-flex justify-content-center align-items-center" order="2" order-lg="1">
        <div class="intro-info">
          <h2 class="text-primary">
            Driving efficiency through innovation
          </h2>
          <p>
            We create custom <b>Shopify Apps</b> and <b>Web Apps</b> for forward thinking, fast growing SMEs.
          </p>
          <div>
            <b-button variant="dark">
              <span class="text-primary">>></span> SEE WHAT WE DO
            </b-button>
          </div>
        </div>
      </b-col>
    </b-row>
  </Section>
</template>

<script>
import Section from '@/components/Section'
export default {
  components: {
    Section
  },
  data() {
    return {
      showImage: false
    }
  },

  mounted() {
    setTimeout(() => {
      this.showImage = true
    }, 50)
  }
}
</script>

<style lang="scss" scoped>
.intro-info {
  max-width: 450px;

  p {
    max-width: 360px;
    font-size: 16px;
    line-height: 1.2;
    margin: 1.5rem 0;
  }

  button {
    padding-top: 0.5rem;
    > span {
      font-size: 20px;
      font-weight: 900;
      line-height: 1;
    }
  }

  .intro-image {
    padding: 0;
    text-align: center;
    img { max-width: 500px; }
  }

  @media only screen and (max-width: 992px) {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3.5rem 0;

    // > p {
      // font-size: 1.2rem;
      // padding: 0 1.2rem;
    // }
    // button {
    //   padding-top: 0.7rem;
    //   > span {
    //     font-size: 1.2rem;
    //   }
    // }
  }

}
</style>
