<template>
  <Section
    id="mya-ourwork"
    bg="primary"
    color="black"
    class="pb-0"
    design="3"
  >
    <b-row>
      <b-col
        md="12"
        lg="5"
        class="p-0"
        order="2"
        order-lg="1"
      >
        <div class="d-flex w-100 h-100 position-absolute justify-content-center flex-column text-center">
          <transition name="fade">
            <div v-if="!changing" id="testimonial-info">
              <h4 class="author">
                {{ currentTestimony.author }}
              </h4>
              <p class="author-position">
                {{ currentTestimony.position }}
              </p>
              <div class="mt-3">
                <b-img id="client-logo" :src="currentTestimony.companyLogo" />
              </div>
            </div>
          </transition>
        </div>
        <b-img id="testimonial-logo" src="/images/home/testimonial.png" fluid-grow />
      </b-col>
      <b-col
        md="12"
        lg="7"
        class="text-center px-md-5"
        order="1"
        order-lg="2"
      >
        <h5 class="title-emphasize dark">
          OUR WORK
        </h5>
        <!-- Carousel here  -->

        <div class="d-flex flex-column justify-content-center">
          <h2 class="text-white mt-5 mb-5">
            {{ currentTestimony.title }}
          </h2>
          <transition name="fade">
            <p v-if="!changing" class="testimonial">
              <q> <span>{{ currentTestimony.testimony | ellipsis }}</span> </q>
            </p>
          </transition>
        </div>
      </b-col>
    </b-row>
    <b-row>
      <b-col id="our-work-options" class="col-lg-7 offset-lg-5 text-center p-md-relative">
        <div class="d-flex justify-content-center">
          <div v-for="(option, index) in testimonials" :key="'testimonial-' + index" class="custom-radio">
            <label>
              <input v-model="selected" type="radio" name="dark" :value="index" @click="changed">
              <span class="design" />
            </label>
          </div>
        </div>

        <div class="mt-3">
          <b-btn variant="dark">
            READ CASE STUDY
          </b-btn>
        </div>
      </b-col>
    </b-row>
  </Section>
</template>

<script>
import Section from '@/components/Section'
export default {
  components: {
    Section
  },

  filters: {
    ellipsis(value) {
      return value.length > 200 ? value.slice(0, 200) + '...' : value
    }
  },

  data() {
    return {
      selected: 0,
      testimonials: [
        {
          author: 'JOSH TURNER',
          position: 'CEO',
          companyLogo: '/images/client/bacon-by-the-box.png',
          title: 'Streamlining ecommerce sales growth',
          testimony: 'Mind yer app buit a bespoke ordering system which is completely tailored towards how our business runs. We are now able to accept and process more orders which allowed our business to expand.'
        },
        {
          author: 'JOSH TURNER 2',
          position: 'COO',
          companyLogo: '/images/client/bacon-by-the-box-2.png',
          title: 'Ecommerce sales growth streamlining',
          testimony: 'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint nesciunt deserunt, eos animi ut inventore praesentium tempore, sequi, sed earum fugit ex tenetur. Accusamus voluptatibus, inventore corrupti obcaecati aliquam quasi. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint nesciunt deserunt, eos animi ut inventore praesentium tempore, sequi, sed earum fugit ex tenetur. Accusamus voluptatibus, inventore corrupti obcaecati aliquam quasi. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint nesciunt deserunt, eos animi ut inventore praesentium tempore, sequi, sed earum fugit ex tenetur. Accusamus voluptatibus, inventore corrupti obcaecati aliquam quasi.'
        }
      ],
      changing: false
    }
  },

  computed: {
    currentTestimony() {
      return this.testimonials[this.selected]
    }
  },

  methods: {
    changed() {
      this.changing = true
      setTimeout(() => {
        this.changing = false
      }, 500)
    }
  }
}
</script>

<style lang="scss">
#mya-ourwork {

  .author { margin: 0; }
  .author-position {
    font-size: 1.7rem;
    font-weight: normal;
    margin: 0;
    line-height: 1;
    margin-bottom: 2rem;
  }

  #testimonial-info, #testimonial-logo {
    margin-left: 10px;
  }

  @media (min-width: 992px) {
    #our-work-options {
      position: relative;
      margin-top: -50px;
      margin-bottom: 50px;
    }
  }

  @media (min-width: 1200px) {
    #our-work-options {
      position: absolute;
      margin-top: -170px;
    }
  }

  @media only screen and (max-width: 992px) {
    .container {
      padding: 0 4rem;
    }
    #our-work-options {
      position: relative;
      margin-top: 0;
      margin-bottom: 5rem;
    }

    #client-logo {
      max-width: 30%;
    }
    .testimonial {
      text-align: center;
      font-weight: 900;
    }

    #testimonial-info, #testimonial-logo {
      margin: 0;
    }
  }

  @media only screen and (max-width: 420px) {
    .author-position { font-size: 4vw; }
  }
}
</style>
