<template>
  <Section
    id="what-section"
    bg="white"
    color="dark"
  >
    <b-row>
      <b-col class="text-center mb-5">
        <h5 class="title-emphasize dark mb-md-5">
          WHAT WE DO
        </h5>
        <h2 class="text-success">
          Innovative web app development
        </h2>
        <p id="what-info" class="mx-auto">
          Our expert global workforce specialise in three key areas of custom web application development:
        </p>
      </b-col>
    </b-row>
    <b-row class="my-5 px-3 px-sm-5">
      <b-col class="what-apps" md="12" lg="4">
        <Card
          v-scroll-reveal="{ delay: 100 }"
          title="Shopify Apps"
          description="Optimise your shopify store with a custom app. If it doesn't already exist let's build one just for you."
          link="/shopify"
          link-text="LEARN MORE"
          icon="cart"
          color="success"
          class="mx-auto"
        />
      </b-col>

      <b-col class="what-apps" md="12" lg="4">
        <Card
          v-scroll-reveal="{ delay: 500 }"
          :is-highlight="true"
          title="System Apps"
          description="We can enhance your existing systems to boost efficiency and work seamlessly together."
          link="/shopify"
          link-text="LEARN MORE"
          icon="cog"
          color="dark"
          class="mx-auto"
        />
      </b-col>

      <b-col class="what-apps" md="12" lg="4">
        <Card
          v-scroll-reveal="{ delay: 1000 }"
          title="Stand Alone Apps"
          description="Completely bespoke solutions expertly built to empower your unique business."
          link="/shopify"
          link-text="LEARN MORE"
          icon="lightbulb"
          color="info"
          class="mx-auto"
        />
      </b-col>
    </b-row>
  </Section>
</template>

<script>
import Card from '@/components/Card'
import Section from '@/components/Section'
export default {
  components: {
    Card,
    Section
  }
}
</script>

<style lang="scss" scoped>
#what-section {

  @media only screen and (max-width: 992px) {
    .what-apps {
      margin-bottom: 7rem;
    }
  }

  @media only screen and (max-width: 600px) {
    h2 {
      margin-top: 2rem;
    }
    .mya-card {
      max-width: 300px;
    }

    .what-apps {
       margin-bottom: 7rem;
    }

    #what-info {
      margin-top: 2rem;
      max-width: 70%;
    }
  }
}
</style>
