<template>
  <Section
    id="who-section"
    bg="info"
    color="white"
    design="2"
  >
    <b-row>
      <b-col class="text-center">
        <h4 class="title-emphasize">
          WHO WE ARE
        </h4>
        <h2 class="text-primary mt-5">
          We love to solve problems
        </h2>
        <p class="mx-auto mt-5">
          Think there is a better way to perform mundane or time-consuming tasks? Quite often there is and we’re here to solve your conundrum with technology! Put our innovative thinking to the test and share your brief with us today
        </p>
        <b-button variant="primary" class="text-white">
          DISCUSS A PROJECT
        </b-button>
      </b-col>
    </b-row>
  </Section>
</template>

<script>
import Section from '@/components/Section'
export default {
  components: {
    Section
  }
}
</script>

<style lang="scss" scoped>
#who-section {
  p {
    max-width: 860px;
  }

  @media only screen and (max-width: 600px) {
    h2 { padding: 0 6rem; }
    p {
      max-width: 85%;
    }
  }
}
</style>
