<template>
  <div class="mya-card h-100" :class="'bg-' + color">
    <div class="mya-card__icon">
      <b-img :src="iconpath" />
    </div>
    <h3 class="title-emphasize" :class="{highlight : isHighlight}">
      {{ title }}
    </h3>
    <p>{{ description }}</p>
    <div class="text-center mt-auto">
      <b-button variant="light" :to="link" :class="'text-' + color">
        {{ linkText }}
      </b-button>
    </div>
  </div>
</template>

<script>

export default {

  props: {
    title: { type: String, default: '' },
    description: { type: String, default: '' },
    link: { type: String, default: '' },
    linkText: { type: String, default: '' },
    icon: { type: String, default: '' },
    color: { type: String, default: 'dark' },
    isHighlight: { type: Boolean, default: false }
  },

  computed: {
    iconpath() {
      return '/images/' + this.icon + '-icon.png'
    }
  }

}
</script>

<style lang="scss" scoped>
@media only screen and (min-width: 400px) {
  .title-emphasize {
    font-size: 2.5rem;
  }
}
</style>
