<template>
  <section class="mya-section" :class="sectionClass">
    <div v-scroll-reveal :class="sectionDesignClass" />
    <b-container>
      <slot />
    </b-container>
  </section>
</template>

<script>
export default {
  props: {
    bg: { type: String, default: 'secondary' },
    color: { type: String, default: 'white' },
    design: { type: String, default: '' }
  },
  computed: {
    sectionClass() {
      return 'bg-' + this.bg + ' text-' + this.color
    },

    sectionDesignClass() {
      return this.design ? 'mya-section__design design-' + this.design : ''
    }
  }
}
</script>

<style lang="scss">
.mya-section {
  padding: 3rem 0;
  position: relative;

  // design pattern 1
  .mya-section__design {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    &.design-1 {
      background-image: url('/images/design-1.png');
      background-size: 480px;
      background-position-y: 100%;
      opacity: 0.04;
    }
    &.design-2 {
      background-image: url('/images/design-2.png');
      background-size: 450px;
      background-position-y: bottom;
      background-position-x: right;
      opacity: 0.16;
    }
    &.design-3 {
      background-image: url('/images/design-3.png');
      background-position-x: 102%;
      background-position-y: top;
      background-size: 380px;
      opacity: 0.12;
    }
    &.design-4 {
      background-image: url('/images/design-4.png');
      background-size: 460px;
      opacity: 0.14;
    }
  }

  @media only screen and (max-width: 1199px) {
    .mya-section__design.design-3 {
      background-size: 400px;
    }
  }

  @media only screen and (max-width: 992px) {
    text-align: center;
    .mya-section__design.design-2 {
      background-image: url('/images/design-mobile.png');
      background-position-x: right;
      background-position-y: -10px;
      background-size: auto 100%;
    }

    .mya-section__design.design-3 {
      background-image: url('/images/design-mobile.png');
      background-position-y: -10px;
      background-position-x: 110%;
      background-size: auto 100vw;
    }
  }

}
</style>
