<template>
  <Section
    id="mya-footer-section"
    bg="secondary"
    color="white"
    design="4"
  >
    <div class="divisions d-lg-flex">
      <!-- Footer Logo  -->
      <div id="mya-footer-logo">
        <b-img src="/images/logo-footer.png" />
        <p>Driving efficiency through innovation</p>
      </div>

      <!-- Footer Menu Section  -->
      <div class="mya-footer-navs">
        <b-row class="fluid">
          <b-col md="12" lg="6">
            <b-nav vertical>
              <b-nav-item
                v-for="(menu, index) in menus_a"
                :key="'menu_a-' + index"
                :to="menu.link"
              >
                <span>{{ menu.name }}</span>
              </b-nav-item>
            </b-nav>
          </b-col>
          <b-col md="12" lg="6">
            <b-nav vertical>
              <b-nav-item
                v-for="(menu, index) in menus_b"
                :key="'menu_b-' + index"
                :to="menu.link"
              >
                <span>{{ menu.name }}</span>
              </b-nav-item>
            </b-nav>
          </b-col>
        </b-row>
      </div>

      <!-- Contact Info  -->
      <div class="mya-footer-contact">
        <address>{{ address }}</address>
        <a :href="'tel:+' + telephone">t: <span>{{ telephone }}</span></a>
        <br>
        <a :href="'mailto:' + email">e: <span>{{ email }}</span></a>
        <b-nav horizontal class="social-links">
          <b-nav-item href="http://twitter.com">
            <i class="fa fa-twitter" />
          </b-nav-item>
          <b-nav-item href="http://facebook.com">
            <i class="fa fa-facebook" />
          </b-nav-item>
          <b-nav-item href="http://instagram.com">
            <i class="fa fa-instagram" />
          </b-nav-item>
          <b-nav-item href="http://linkedin.com">
            <i class="fa fa-linkedin" />
          </b-nav-item>
        </b-nav>
      </div>
    </div>
  </Section>
</template>

<script>
import Section from '@/components/Section'
export default {
  components: {
    Section
  },
  data() {
    return {
      menus_a: [
        { name: 'About', link: '/about' },
        { name: 'Service', link: '/service' },
        { name: 'Apps for Shopify', link: '/apps-for-shopify' },
        { name: 'Apps for Other Systems', link: '/apps-other-systems' }
      ],
      menus_b: [
        { name: 'Custom Web Apps', link: '/custom-web-apps' },
        { name: 'Case Studies', link: '/case-studies' },
        { name: 'Blog', link: '/blog' },
        { name: 'Contact Us', link: '/contact-us' }
      ],
      address: `University Business Centre
        Piece Mill
        27 Horton Street
        Halifax
        HX1 1QE`,
      telephone: '0330 2231 768',
      email: 'hello@mindyerwebsite.co.uk'
    }
  }
}
</script>

<style lang="scss">
$border-color: rgba(255, 255, 255, 0.2);
$white: #fff;

#mya-footer-section {
  padding-bottom: 5rem;

  #mya-footer-logo {
    padding-left: 3.5rem;
    img { width: 180px; }
    p { width: 180px; margin-left: 3rem; margin-top: 1.5rem; }
  }
  address { white-space: pre-line; }

  a span { color: $white; }
  a:hover span { color: darken($white, 20%); }
  .social-links {
    margin-top: 1rem;
    margin-left: -1.2rem;
    position: absolute;
  }

  .divisions {
    > * {
      padding: 0 3.4rem;
      border-right: 2px solid $border-color;
      &:last-child { border-right: none; }
    }
  }

  .mya-footer-navs {
    .nav-item a {
      line-height: 1.5;
    }

    flex-grow: 1;
    max-width: 460px;
  }

  .mya-footer-contact {
    padding-bottom: 2.5rem;
  }

  @media only screen and (max-width: 992px) {

    .mya-section__design {
      display: none;
    }

    .mya-footer-navs {
      max-width: 100%;
    }

    #mya-footer-logo {
      img { width: auto; }
      p {
        text-align: left;
        margin-left: auto;
        margin-right: auto;
        padding-left: 3rem;
        width: 220px;
        line-height: 1;
        font-size: 1rem;
        margin-bottom: 4rem;
      }
    }

    .divisions {
      > * {
        border: none;
      }
    }

    .mya-footer-contact {
      position: relative;
      border-top: 1px solid $border-color;
      margin-top: 2rem;
      padding-top: 2rem;
      padding-left: 0;
      padding-right: 0;

      ul {
        width: 100%;
        justify-content: center;
        margin: 0;

        &.social-links {
          margin-top: 2rem;
          font-size: 1rem;
        }
      }
    }

  }

  @media only screen and (max-width: 400px) {
    #mya-footer-logo {
      img { width: 100%; }
    }

    .mya-footer-navs .nav-item {
      height: auto;
      .nav-link { line-height: 1; }
    }
  }

}
</style>
