<template>
  <div id="mya-footer">
    <FooterSection />
    <div id="mya-footer-terms">
      <b-container>
        <b-row class="p-0 px-lg-5">
          <b-col
            id="copyright"
            sm="12"
            lg="6"
            order-lg="1"
            order="2"
          >
            {{ copyright }}
          </b-col>
          <b-col
            sm="12"
            lg="6"
            order-lg="2"
            order="1"
          >
            <b-nav horizontal>
              <b-nav-item to="/terms" class="ml-lg-auto">
                TERMS & CONDITIONS
              </b-nav-item>
              <b-nav-item to="/terms">
                PRIVACY POLICY
              </b-nav-item>
            </b-nav>
          </b-col>
        </b-row>
      </b-container>
    </div>
  </div>
</template>

<script>
import FooterSection from './FooterSection'

export default {
  components: {
    FooterSection
  },
  data() {
    return {
      copyright: '© Mind Yer App 2019. All rights reserved.'
    }
  }
}
</script>

<style lang="scss">
@import "@/assets/scss/_variables.scss";

#mya-footer-terms {

  margin: 1rem 0;

  a {
    padding: 0 1rem;
    line-height: 1;
    color: $secondary;
    &:hover { color: darken($secondary, 20%); }
  }

  .nav-item {
    height: 16px;
    padding: 0;
    border-right: 1px solid $secondary;
    &:last-child { border-right: none; }
  }

  #copyright { margin-top: -0.5rem; }

  @media only screen and (max-width: 991px) {
    text-align: center;
    font-size: 1rem;
    #copyright {
      margin-top: 0;
      font-size: 0.9rem;
    }
    .nav {
      justify-content: center;
    }
  }
}
</style>
