<template>
  <b-container id="main">
    <b-row>
      <b-col>
        <mya-header />
        <nuxt />
        <mya-footer />
      </b-col>
    </b-row>
  </b-container>
</template>

<style lang="scss">
@media only screen and (max-width: 992px) {
  #main {
    padding: 0;
    overflow: hidden;
    max-width: 100%;
  }
}
</style>
<script>
import MyaHeader from '@/components/header/index'
import MyaFooter from '@/components/footer/index'

export default {
  components: {
    MyaHeader,
    MyaFooter
  }
}
</script>
