<template>
  <div>
    <!-- Home Intro Section -->
    <IntroSection />

    <!-- Who We Are Section -->
    <WhoAreWeSection />

    <!-- What We Do Section -->
    <WhatWeDoSection />

    <!-- Our Work Section -->
    <OurWorkSection />
  </div>
</template>

<script>
import OurWorkSection from '@/components/home/OurWorkSection'
import WhatWeDoSection from '@/components/home/WhatWeDoSection'
import WhoAreWeSection from '@/components/home/WhoAreWeSection'
import IntroSection from '@/components/home/IntroSection'

export default {

  components: {
    OurWorkSection,
    WhatWeDoSection,
    WhoAreWeSection,
    IntroSection
  },

  mounted() {
    this.$nextTick(() => {
      this.$nuxt.$loading.start()
      setTimeout(() => this.$nuxt.$loading.finish(), 1000)
    })
  },

  head() {
    return {
      title: 'Mind Yer App - Homepage',
      meta: [
        {
          hid: 'description',
          name: 'description',
          content: 'We create custom shopify apps and web for forward thinking, fast growing SMEs'
        }
      ]
    }
  }
}
</script>

<style>

</style>
